{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Create goods</h1>
    {% if error_message %}          
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ error_message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if product_message %}
        <div class="ui success message">
            <i class="close icon"></i>
            <div class="header">{{ product_message }}</div>
        </div>
    {% endif %}
    <br>
    <br>
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
    {%endfor%}
    <form method='POST' action=''>
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-info" value='Create'/>
    </form>
{% endblock %}